<%= render 'partials/navbar' %>

<div class="gumbotron">

  <p>Hello There,</p>
  <p>My name is nathan (sometimes nxthxnxthxn) and I am part abolitionist part computer scientist.</p>

  <p>Here is my resume:</p>


  <a href="https://lh3.googleusercontent.com/QiM99t4pG4hw-TxufBbG-p-Jb8Nof0MVKGyTXKNyzfs_bsNKhQYzZxtnalKpgBVp4VklPavsDBdNcVc16qpddFA7JQR84Ktzl8pKVa51esEmPFWBEXNdSvsBi_jsMiKnlNqwI63KEig=w2400?source=screenshot.guru" target="_blank" rel="noopener noreferrer"> <img src="https://lh3.googleusercontent.com/QiM99t4pG4hw-TxufBbG-p-Jb8Nof0MVKGyTXKNyzfs_bsNKhQYzZxtnalKpgBVp4VklPavsDBdNcVc16qpddFA7JQR84Ktzl8pKVa51esEmPFWBEXNdSvsBi_jsMiKnlNqwI63KEig=w4300-h2550-p-k" /> </a>

</div>



<div class="tickContainer">

  <p>here is how to (try and) find me other places online:</p>

  <%= link_to image_tag("facebookLogo.png"), "https://www.facebook.com/nathan.shulkin.3/", target: :_blank %>
  <%= link_to image_tag("instagramLogo.png"), "https://www.instagram.com/soco_black_and_pink/", target: :_blank %>
  <%= link_to image_tag("linkedinLogo.png"), "https://www.linkedin.com/in/nathan-shulkin-54513a191/", target: :_blank %>

</div>

<div class="tickContainerer">
  <h7>this is a site that nathan built. if you want to get in touch, feel free to send an email:
  <%= link_to "nathanshulkin@gmail.com", "mailto:nathanshulkin@gmail.com", target: :_blank %></h7>
</div>