<%= render 'partials/navbar' %>

<div class="gumbotron">
<h1>about me</h1>

<p>Hello There,</p>
<p>My name is nathan (sometimes nxthxnxthxn) and I am part abolitionist part computer scientist.</p>

<p>Here is my resume:</p>


<%= image_tag("0001.png")%>

</div>

<p>here is how to (try and) find me other places online:</p>

<%= link_to image_tag("facebookLogo.jpg"), "https://www.facebook.com/nathan.shulkin.3/" %>
<%= link_to image_tag("instagramLogo.jpg"), "https://www.instagram.com/soco_black_and_pink/" %>
<%= link_to image_tag("twitterLogo.jpg"), "https://www.linkedin.com/in/nathan-shulkin-54513a191/" %>



<%= render 'partials/ticker' %>