<%= render 'partials/navbar' %>

<div class="gumbotron">

  <p>Hello There,</p>
  <p>My name is nathan (sometimes nxthxnxthxn) and I am part abolitionist part computer scientist.</p>

  <p>Here is my resume:</p>


  <a href="https://lh3.googleusercontent.com/W263fEVL5w9AyMJWKe8WlCnl8fBhUMsyOeEdnjTjn2yAtbQD0XMDOV1XPgRNyCzBI1wQanV7PtTX7nGuN5x45R-6-0-P_VNzxoxWRWTQ_V-HoyYmdDPwT92F3r1BSdnMiO-w7e7_K9o=w2400?source=screenshot.guru" target="_blank" rel="noopener noreferrer"> <img src="https://lh3.googleusercontent.com/W263fEVL5w9AyMJWKe8WlCnl8fBhUMsyOeEdnjTjn2yAtbQD0XMDOV1XPgRNyCzBI1wQanV7PtTX7nGuN5x45R-6-0-P_VNzxoxWRWTQ_V-HoyYmdDPwT92F3r1BSdnMiO-w7e7_K9o=w2550-h4800-p-k" /> </a>

</div>

<p>here is how to (try and) find me other places online:</p>

<div class="tickContainer">

  <%= link_to image_tag("facebookLogo.png"), "https://www.facebook.com/nathan.shulkin.3/", target: :_blank %>
  <%= link_to image_tag("instagramLogo.png"), "https://www.instagram.com/soco_black_and_pink/", target: :_blank %>
  <%= link_to image_tag("linkedinLogo.png"), "https://www.linkedin.com/in/nathan-shulkin-54513a191/", target: :_blank %>

</div>

<div class="tickContainerer">
  <h7>this is a site that nathan built. if you want to get in touch, feel free to send an email:
  <%= link_to "nathanshulkin@gmail.com", "mailto:nathanshulkin@gmail.com", target: :_blank %></h7>
</div>