<%= render 'partials/navbar' %>

<div class="gumbotron">
<h1>about me</h1>

<p>Hello There,</p>
<p>My name is nathan (sometimes nxthxnxthxn) and I am part abolitionist part computer scientist.</p>

<p>Here is my resume:</p>


<%= image_tag("NathanShulkin-1.jpg")%>
<%= image_tag("NathanShulkin-2.jpg")%>


</div>

<p>here is how to (try and) find me other places online:</p>

<div class="tickContainer">

<%= link_to image_tag("facebookLogo.png"), "https://www.facebook.com/nathan.shulkin.3/", target: :_blank %>
<%= link_to image_tag("instagramLogo.png"), "https://www.instagram.com/soco_black_and_pink/", target: :_blank %>
<%= link_to image_tag("linkedinLogo.png"), "https://www.linkedin.com/in/nathan-shulkin-54513a191/", target: :_blank %>

</div>

<div class="tickContainer">
  <h7>this is a site that nathan built. if you want to get in touch, feel free to send an email:
  <%= link_to "nathanshulkin@gmail.com", "mailto:nathanshulkin@gmail.com", target: :_blank %></h7>
</div>